.actions
  = surround '[', ']' do
    = delete_link resource
%h2
  = resource.aspect.name
%p
  != rip_element(resource, :description)
%p
  Due in
  = (resource.due_on - Date.today).to_i
  days on
  = resource.due_on
%p
  Importance:
  != rip_element(resource, :importance)
.actions
  - unless resource.not_started?
    = surround '[', ']' do
      = link_to "reset", reset_task_path(resource), :remote => true, "data-method" => "post", "data-output-mode" => "hide"
  - unless resource.in_progress?
    = surround '[', ']' do
      = link_to "start", start_task_path(resource), :remote => true, "data-method" => "post", "data-output-mode" => "hide"
  - unless resource.waiting?
    = surround '[', ']' do
      = link_to "wait", wait_task_path(resource), :remote => true, "data-method" => "post", "data-output-mode" => "hide"
  - unless resource.accomplished?
    = surround '[', ']' do
      = link_to "complete", complete_task_path(resource), :remote => true, "data-method" => "post", "data-output-mode" => "hide"

